body {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
}

.kanbas-sidebar {
    grid-area: sidebar;
    position: sticky
}

#kanbas-navigation-container {
    width: 84px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    background-color: black;
}

.nav-link {
    padding: 7px 0;
}

.nav-item-logo {
    width: 26px;
    display: inline-block;
    vertical-align: middle;
    fill: red;
}

.nav-item-logo-img {
    max-width: 100%;
}

.nav-item-text {
    position: static;
    font-size: 0.875rem;
    left: auto;
    top: auto;
    text-align: center;
    display: block;
    line-height: 1.4;
    border-radius: 0;
    margin: 3px 0 0;
    padding: 0;
    background: transparent;
    color: white;
    white-space: normal;
    word-wrap: break-word;
}

.kanbas-nav-item-selected,
.kanbas-nav-item-selected .nav-item-text {
    background-color: white;
    color: red;
}

.wrapper {
    margin-left: 84px;
}

.assignment-sidebar-wrapper {
    position: sticky;
    padding: 0 24px;
    width: 192px;
}

.sidebar-item-text {
    color: red;
}

.sidebar-nav-item-selected .sidebar-item-text {
    color: black;
    border-left: 2px solid black;
    padding-left: 8px;
}

.kanbas-assignment-headerbar {
    padding-bottom: 10px;
    border-bottom: 1px solid #c7cdd1;
    margin-bottom: 20px;
}

.kanbas-course-headerbar select {
    max-width: 200px;
}

.list-group .indent {
    border-left: 2px solid green;
}

.list-group-item .internal-link {
    text-decoration: none;
}

.list-group-item-title {
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: bold;
    padding-right: 12px;
    line-height: 1.3;
    margin-bottom: 3px;
    min-width: 1px;
}

.list-group-item-first-indent {
    padding: 12px 6px 12px 40px;
}

.list-group-item-second-indent {
    padding: 12px 6px 12px 60px;
}

.list-group-item .external-link {
    color: red;
    text-decoration: none;
}

.assignment-list-item-logo {
    color: green;
    margin-right: 10px;
}

.kanbas-assignment-content-layout .row {
    line-height: 1.5;
    margin-bottom: 10px;
}

.assignment-edit-row .assignment-title-col {
    float: left;
    width: 200px;
    padding-top: 5px;
    text-align: left;
}

.kanbas-setting-headbar .nav-item .nav-link {
    padding: 8px 14px;
    color: red;
}

.kanbas-setting-headbar .nav-link-selected .nav-link-text {
    color: black;
}