.chevron {
    margin-top: -10px;
}

.chevron .list-group {
    border-radius: 0 !important;
    border: none !important;
    padding: 0 !important;
}

.chevron .list-group-item {
    background-color: white !important;
    color: red !important;
    border-width: 0 !important; /* Set border-width to 0 */
    border-color: transparent !important; /* Set border-color to transparent */
    padding: 6px 2px !important;
    font-size: 0.85rem;
    font-weight: 300;
}

.chevron .list-group-item.active {
    background-color: white !important;
    color: red !important;
    border-width: 0 !important; /* Set border-width to 0 */
    border-color: transparent !important; /* Set border-color to transparent */
    padding: 6px 2px !important;
    font-size: 0.85rem;
    font-weight: 500;
}

