.wd-kanbas-navigation .wd-icon {
  font-size: 2em;
  fill: red;
}

.wd-kanbas-navigation .wd-logo {
  max-width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.wd-kanbas-navigation .list-group-item:first-child,
.wd-kanbas-navigation .list-group-item:last-child,
.wd-kanbas-navigation .list-group-item.active:last-child,
.wd-kanbas-navigation.list-group {
  border-radius: 0px;
}

.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  padding: 0px;
  width: 80px;

  /* margin: 0px; */
  /* box-sizing: border-box; */
  position: sticky;
  /* top: 0; */
  /* left: 0; */
  height: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  /* z-index: 100; */
}

.wd-kanbas-navigation a {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
  text-align: center;
  background-color: black;
  border: none;
}

.wd-kanbas-navigation a.active {
  background-color: white;
  color: red;
}

.wd-kanbas-navigation a {
  color: white;
  text-decoration: none;
}

.wd-kanbas-navigation a i {
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
}