.list-group-item-secondary {
    position: relative;
    display: flex;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: lightgray;
  }
  
  
  .list-group-item-assignment {
    position: relative;
    text-indent: 20px;
    display: flex;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-left: 3px solid green;
  }