.status {
    width: 100%;
}

.status .courses-home-main-content-right-side-btn-group {
    margin-bottom: 20px !important;
}

.status .courses-home-main-content-right-side-btn-group-button {
    border-radius: 3px !important;
}

.status .courses-home-main-content-right-side-btn {
    margin: 2px 0;
    width: 100%;
    text-align: left !important;
    border-radius: 3px !important;
}

.status .courses-home-main-content-right-side-title {
    margin-bottom: -10px;
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.status .courses-home-main-content-right-side-todo-list-item {
    display: flex;
    flex-direction: row;
    padding: 5px;
    font-size: small;
    margin-bottom: 5px;
}

.status .courses-home-main-content-right-side-todo-list-item-description {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}

.status .courses-home-main-content-right-side-todo-list-item-description a {
    color: red;
}

.status .fa-todo-yes {
    font-size: 12px;
}

.status .fa-todo-x {
    font-size: 10px;
}

.status .courses-home-main-content-right-side-coming-up-title-item {
    margin-top: -10px;
}

.status .courses-home-main-content-right-side-coming-up-title-item a {
    color: red;
    font-size: small;
    font-weight: normal;
}

.status .courses-home-main-content-right-side-coming-up-list-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    font-size: small;
}

.status .courses-home-main-content-right-side-coming-up-list-item a {
    color: red;
}


.status .courses-home-main-content-right-side-coming-up-list-item-description {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}


