.bars {
    margin: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bars .bars-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.bars .bars-item a {
    color: red;
    margin: 15px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.bars .bars-item-icon {
    font-size: 24px;
    margin-right: 20px;
}

.bars .bars-item-text {
    font-size: 16px;
}

.bars .grey-user {
    color: grey !important;
}

.bars .icon-margin-left {
    margin-left: 20px;
}

.bars .hidden-chevron-icon {
    display: none;
}

.bars .x-icon {
    text-decoration: none;
    color: grey;
    font-size: 16px;
}

.bars .color-grey {
    color: grey;
}